#circle {
    width: 50px;
	height: 50px;
	background: #e00;
	border-radius: 50px;
	position: absolute;
	border-style: solid;
	 border-width: 2px;
}

.buttonAdjust {
    margin: auto;
	width:700px;
    height:75px;
	position: relative;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}
.myContainer {
	margin: auto;
	background: #f0f0f0;
	position: relative;
    width:700px;
    height:500px;
    border:black;
	border-style: solid;
    border-width: 2px;
 }
 